/* This UI design for the repotheweb config interface 
*  is optimized to work across various devices and to 
*  be highly scalable independant of how much the user
*  uses it or what device they use. 
* 
* Scalability is largely accomplished by using a small
*  multiple design as described in Escaping Flatland 
*  by Edwarde Tufte. Favicons are pixilated on the 
*  index page to aid consistancy, a key component of 
*  small multiple designs. 
*
* Simplicity has been achieved by embracing common web
*  components of links and forms, the use of a visually
*  appealing Golden ratio, and a complementary color
*  scheme designed to look utilitarian. 
* 
* A share feature is included to add both a fun and 
*  convenience factors to the design while tagging in
*  the sidebar helps manage larger collections of 
*  protocols. */
/* general */
* {padding: 0; margin: 0}
ul, ol { padding-left: 20px}
a:link, a:visited {color: #333}
h1 a, footer a {
	float: right;
	font-size: 12pt;
	font-weight: normal;
	padding: 5px;
}
h1 {border-bottom: thin solid #006}

/* sidebar */
aside {
	background: #006;
    
    font-weight: bold;
	color: #aaa;
}
aside .theme-box {display: none;}
aside > * {margin: 10px 0;}
aside a:link, aside a:visited {color: #aaa;}
input[type=search] {
	width: 100%;
	margin: 5px 0;
}

/* main content */
div#content {padding-bottom: 50px;}
.clear {clear: both;}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFD373;
}

/* grid layout */
ul.nobullets {
	list-style: none;
	padding: 2;
}
ul.multiple li a {
	float: left;
	width: 120px; height: 120px;
	margin: 5px;
	border: thin solid #FFD373;
	border-radius: 10px;
	text-align: center;
	
	text-decoration: none;
	-moz-transition: all 2s;
}
ul.multiple li a:hover {
	background: #FFD373;
	
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ffd373));
	background-image: -webkit-linear-gradient(top, #fff, #ffd373);
	background-image:    -moz-linear-gradient(top, #fff, #ffd373);
	background-image:     -ms-linear-gradient(top, #fff, #ffd373);
	background-image:      -o-linear-gradient(top, #fff, #ffd373);
}
ul.multiple li img {width: 100px;}
.split2  > *{
	width: 50%;
	float: left;
}